/*Base Styles*/
h1 {

}

h2 {

}

/*Desktop - Large Devices*/
@media (min-width: 992px) {
	#p1 {
		width: 33.33%;
	}

	#p2 {
		width: 33.33%;
	}	

	#p3 {
		width: 33.33%;
	}
}

/*Tablet - Medium Devices*/
@media (min-width: 768px) and (max-width: 991px) {
	#p1 {
		width: 50%;
	}

	#p2 {
		width: 50%;
		float: left;
	}

	#p3 {
		width: 100%;
		float: left;
	}
}

/*Mobile - Small Devices*/
@media (max-width: 767px) {
	p {
		float: left;
	}

	#p1 {
		width: 100%;
	}
	#p2 {
		width: 100%;
	}
	#p3 {
		width: 100%;
	}
}